<div id=search-bar>
    <form id="form-container" action="/search" target="_self" method="get">
        <input name="query" id="search-box" type="search" placeholder="&ensp;Search...">
        <select id="search-category" name="category">
            <option value="Name">Name</option>
            <option value="Genre">Genre</option>
            <option value="Publisher">Publisher</option>
        </select>
        <button  type="submit" class="submit-button"><span class="search-bar-text"><img src="../static/images/search-icon.svg" width="15px"></span></button>
    </form>
</div>