.profile-pic {
    display: block;
    float: left;
    width: 50;
    border: solid 1px;
    padding: 12px;
}

.user-info {
    margin: 20px;
    display: grid;
    align-items: center;
    grid-template-columns: 120px 190px;
    column-gap: 0px;
}

.settings {
    color: blue;
}