{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/home.css">
    <main id="main">
        <h2>Welcome to our Games Library app!</h2>
        <br>
        <p class="home-text">
            This Games Library app is a comprehensive and user-friendly website designed to
            enhance your gaming needs. With this Games Library app, you can easily discover
            hundreds of games along with relevant information. Whether you're a seasoned gamer
            looking for your next time sink or a casual player exploring new titles,
            we've got you covered!
        </p>

        <p class="home-text">
            Our app has a bunch of key features to elevate your games library experience, such as:
        </p>
        <ul class="home-list">
            <li class="home-list-item" style='list-style-type: "\01F9E0"'>
                <p class="home-text">
                    <span class="list-text">Intuitive Interface</span>: Quickly jump from page to page with the navigation bar, search
                    anytime and anywhere with the search bar, or view games by genre in a
                    flash with the sidebar in All Games!
                </p>
                <br>
            </li>
            <li class="home-list-item" style='list-style-type: "\01F50E"'>
                <p class="home-text">
                    <span class="list-text">Extensive Search Functionality</span>: Don't want to rummage through all our games in search of
                    "the one"? You can use our search functionality! Search games by name, genre, or publisher with
                    the search bar, or see specific games from your chosen genre with the Browse by Genre sidebar.
                </p>
                <br>
            </li>
            <li class="home-list-item" style='list-style-type: "\01F3AE"'>
                <p class="home-text">
                    <span class="list-text">Game Details</span>: Access comprehensive information about each game, simply by clicking your chosen
                    game! Each game's description, publisher, developer, release date (and more!) are one click away.
                    Don't want to read through text? Screenshots and videos are also included!
                </p>
                <br>
            </li>
        </ul>
        <p class="home-text">
            Whether you're a collector, a completionist, or simply someone who enjoys playing games,
            Games Library is the ultimate tool to organize, explore, and manage your gaming world.
            Level up your gaming journey with Games Library's user-friendly interface and powerful features!

        </p>
        <p class="home-text">
            <em>For the best experience, try a chromium based browser.<em>
        </p>

        
        </p>
    </main>

{% endblock %}