<link rel="stylesheet" href="../static/css/profile.css">
{% extends 'layout.html' %}

{% block title %} {{ user.username }}'s profile {% endblock %}

{% block content %}
<main id="main">
    <div class="prof-page">
        <div class="user-info">
            <img class="profile-pic" src="../static/images/default_user.svg" />
            <div>
                <p class="uname">{{ user.username }}</p>
                {% if "user_name" in session and user.username == session["user_name"] %}
                <br>
                    <a class="settings" href={{ url_for("profile_bp.settings") }}> Settings </a>
                {% endif %}
            </div>
        </div>
        <div class="description">
            {% for line in user.profile.description.splitlines() %}
                <p class="description"> {{line}} </p>
            {% endfor %}
        </div>
    </div>

    {% if user.profile.show_favourites %}
        <p class="profile-title"> Favourites </p>
        {% for game in favourites %}
        
            {% with game = game %}
                {% include 'row_game_display.html' %}
            {% endwith %}
        
        {% endfor %}
    {% else %}
        <p> Favourites hidden by user </p>
    {% endif %}

    {% if user.profile.show_wishlist %}
        <p class="profile-title"> Wishlist </p>
        {% for game in wishlist %}
        
            {% with game = game %}
                {% include 'row_game_display.html' %}
            {% endwith %}
        
        {% endfor %}
    {% else %}
        <p> Wishlist hidden by user </p>
    {% endif %}

    {% if user.profile.show_comments %}
        <p> Comments </p>
        <main id="comment">
            {% for comment in comments %}
                <a href={{ url_for('game_bp.game_description', gameid=comment.game.game_id) }}>
                    {% with review=comment %}
                        {% include './user_page/comment_card.html' %}
                    {% endwith %}
                </a>
            {% endfor %}
        </main>
    {% else %}
        <p> Comments hidden by user </p>
    {% endif %}
    </main>


{% endblock %}